project:
  type: website
  # output directory used on gh-pages branch. format: YYMM
  output-dir: "2603"
  render: 
    - "!README.md"
    - "!LICENSE"
    - "!LICENSE.md"
    - "!scripts"
    - "!tmprepo"
    - "!*.Rmd"
    - "!*.md"
    - "*.qmd"

website:
  site-url: "https://nbisweden.github.io/workshop-ngsintro/"
  favicon: "assets/favicon.png"
  open-graph: true
  image: "assets/images/seo.webp"
  description: "A five day introductory workshop for beginners in the analysis of illumina short-read next-generation sequencing data which includes lectures and hands-on labs on a remote high-performance cluster. Topics covered include: working on the Linux command line, overview of sequence data formats and QC, DNA variant calling workflow and RNA sequence analyses workflow."
  navbar:
    logo: "assets/logos/nbis-scilifelab.png"
    logo-alt: "logo"
    right:
      - text: "Home"
        href: "index.html"
        aria-label: "Home"
      - text: "Schedule"
        href: "home_schedule.html"
        aria-label: "Schedule"
      - text: "Contents"
        href: "home_contents.html"
        aria-label: "Contents"
      - text: "Precourse"
        href: "home_precourse.html"
        aria-label: "Precourse"
      - text: "Syllabus"
        href: "home_syllabus.html"
        aria-label: "Syllabus"
      - text: "FAQ"
        href: "home_faq.html"
        aria-label: "Frequently Asked Questions"
      - text: "Info"
        href: "home_info.html"
        aria-label: "Info"
      - text: "About"
        href: "home_about.html"
        aria-label: "About"
      - icon: "github"
        href: "https://github.com/NBISweden/workshop-ngsintro/"
        aria-label: "GitHub"
  page-footer:
    border: false
    left: "{{< meta current_year >}} [NBIS](https://nbis.se) • [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/)"
    right: "Published with [Quarto](https://quarto.org/) v{{< meta quarto_version >}}"

format:
  html:
    quarto-required: ">=1.4.0"
    include-in-header: "assets/include_head.html"
    theme: "assets/css/styles.scss"
    smooth-scroll: true
    toc: true
    toc-depth: 4
    toc-location: right
    number-sections: true
    number-depth: 4
    code-fold: false
    code-tools: false
    code-copy: true
    code-overflow: wrap
    df-print: paged
    standalone: false
    fig-align: left
    title-block-banner: "assets/images/banner.webp"
    callout-icon: true
    date:  last-modified
    date-format: "DD-MMM-YYYY"
    lightbox: auto
  revealjs:
    quarto-required: ">=1.4.0"
    include-in-header: "assets/include_head.html"
    theme: ["default","assets/css/slides.scss"]
    df-print: paged
    width: 1280
    height: 720
    transition: "fade"
    transition-speed: "fast"
    smaller: false
    incremental: false
    scrollable: false
    slide-level: 2
    slide-number: true
    progress: true
    date:  last-modified
    date-format: "DD-MMM-YYYY"
    fig-align: left
    chalkboard: true
    callout-icon: true
    hero: "/assets/images/slide-hero.webp"
    title-slide-attributes:
      data-background-image: "/assets/images/cover.webp"
      data-background-size: "cover"
      data-background-opacity: "1"
    header-logo-left: /assets/logos/nbis.png
    header-logo-left-height: 25px
    header-logo-left-url: "https://nbisweden.github.io/workshop-ngsintro/2603/home_contents.html"
    header-logo-right: /assets/logos/scilifelab.png
    header-logo-right-height: 25px
    header-logo-right-url: "https://nbisweden.github.io/workshop-ngsintro/2603/home_schedule.html"
    template-partials:
      - "assets/title-slide.html"

bibliography: references.bib
csl: apa.csl

knitr:
  opts_chunk:
    results: hold

execute:
  eval: true
  echo: true
  warning: false
  message: false
  freeze: true

filters:
  - assets/custom.lua
  - assets/fold-results.lua
  - reveal-logo

# used site-wide
# project id on active cluster (dardel)
id_project: "naiss2026-xx-xxx"
# project id on fallback cluster (rackham)
id_project_backup: "naiss2026-xx-xxx"
# path to course working directory
path_workspace: "/cfs/klemming/projects/supr/naiss2026-xx-xxxx/username"
# path to course resources on cluster
path_resources: "/sw/courses/ngsintro"
# url to active cluster (dardel)
url_cluster: "dardel.pdc.kth.se"
# url to backup cluster (rackham)
url_cluster_backup: "rackham.uppmax.uu.se"

# reservation ids
id_slurm_res_mon: "edu26-03-02"
id_slurm_res_tue: "edu26-03-03"
id_slurm_res_wed: "edu26-03-04"
id_slurm_res_thu: "edu26-03-05"
id_slurm_res_fri: "edu26-03-06"

# location is used to render the info page
# location options are linkoping, lund, umea, stockholm, uppsala or online
# one or more separated by commas or semicolon.
location: online
assistants:
 - "AJ: Anna Johansson"
 - "BV: Björn Viklund"
 - "CK: Cormac Kinsella"
 - "DA: Dag Ahren"
 - "DE: Diana Ekman"
 - "EB: Emre Balsever"
 - "FB: Franziska Bonath"
 - "FR: Fariba Roshanzamir"
 - "GD: Guilherme Dias"
 - "JD: Jyotirmoy Das"
 - "JH: Jason Hill"
 - "JB: Joakim Bygdell"
 - "JT: Jeanette Tångrot"
 - "KG: Karl Grönberg"
 - "KL: Katarina Lejonlid"
 - "KB: Kristina Benevides"
 - "LK: Linda Köhn"
 - "LS: Lucile Soler"
 - "LV: Louella Vasquez"
 - "MD: Martin Dahlö"
 - "MG: Maxime Garcia"
 - "ML: Malin Larsson"
 - "MM: Markus Mayrhofer"
 - "MX: Marcel Martin"
 - "MP: Martin Pippel"
 - "MR: Miguel Redondo"
 - "MV: Massimiliano Volpe"
 - "NN: Nina Norgren"
 - "OP: Olga Vinnere Pettersson"
 - "PA: Prasoon Agarwal"
 - "PP: Paul Pyl"
 - "RF: Roy Francis"
 - "SD: Sebastian DiLorenzo"
 - "SS: Snaevar Sigurdsson"
 - "VK: Varsith Konda"
 - "YL: Yuan Li"
schedule_message: "Breaks are planned for approximately 10:15 and 15:00 every day."
colors:
  primary: "#95b540"
  secondary: "#E9F2D1"
