# Check that all links are valid, i.e. not broken
name: linkcheck

on:
  push:
  pull_request:

jobs:
  check_links:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: --root-dir "$(pwd)" --verbose --no-progress "*.md" "*.qmd"
          fail: false
