# Check for spelling errors
name: spellcheck

on:
  push:
  pull_request:

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rojopolis/spellcheck-github-actions@0.54.0
        name: spellcheck
        continue-on-error: true
        with:
          config_path: .github/.spellcheck.yml
          output_file: spellcheck.txt
      - uses: actions/upload-artifact@v3
        if: '!cancelled()' # Do not upload artifact if job was cancelled
        with:
          name: Spellcheck Output
          path: spellcheck.txt
